includes:
    - vendor-bin/phpstan/vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - functions.php
        - inc
        - patterns
        - woocommerce
    bootstrapFiles:
        - vendor-bin/phpstan/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    ignoreErrors:
        -
            identifier: constant.notFound
            message: '#^Constant (AUTH_KEY|SECURE_AUTH_SALT|NONCE_SALT) not found\.$#'
            path: inc/github-site-webhook.php
        -
            identifier: isset.property
            path: inc/registration.php
        -
            identifier: booleanAnd.rightAlwaysTrue
            path: inc/registration.php
