includes:
    - vendor-bin/phpstan/vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 5
    paths:
        - functions.php
        - inc
        - src
        - patterns
        - woocommerce
        - tests
    bootstrapFiles:
        - vendor-bin/phpstan/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor-bin/phpunit/vendor/autoload.php
    scanFiles:
        - vendor/test-plugins/woocommerce-subscriptions/includes/core/wcs-functions.php
        - vendor/test-plugins/woocommerce-subscriptions/includes/core/abstracts/abstract-wcs-related-order-store.php
    scanDirectories:
        - vendor/wp-phpunit/wp-phpunit/includes
    ignoreErrors:
        -
            identifier: isset.property
            path: inc/registration.php
        -
            identifier: booleanAnd.rightAlwaysTrue
            path: inc/registration.php
        -
            identifier: assign.propertyType
            path: tests/Integration/Inc/RegistrationTest.php
